<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>pstadler/alfred-screensharing</string>
	<key>connections</key>
	<dict>
		<key>A57B8333-3625-4FFD-9C83-D2902C2416CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F058E73F-667D-4A00-9616-33FE0EF6E358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Stadler</string>
	<key>description</key>
	<string>Connect to a host with automatic network discovery</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Screen Sharing</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>vnc</string>
				<key>runningsubtext</key>
				<string>Discovering hosts...</string>
				<key>script</key>
				<string>#!/bin/bash
shopt -s nocasematch

ruby screen.rb {query}</string>
				<key>subtext</key>
				<string>Connect to a host</string>
				<key>title</key>
				<string>Screen Sharing</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A57B8333-3625-4FFD-9C83-D2902C2416CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Screen Sharing"
		if q is equal to "" then
			open
		else
			open location "vnc://" &amp; q
		end if
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>F058E73F-667D-4A00-9616-33FE0EF6E358</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Screen Sharing for Alfred

Connect to a host via Apple's Screen Sharing app.

Hosts with Screen Sharing enabled will automatically be discovered and listed within Alfred.</string>
	<key>uidata</key>
	<dict>
		<key>A57B8333-3625-4FFD-9C83-D2902C2416CE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F058E73F-667D-4A00-9616-33FE0EF6E358</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/pstadler/alfred-screensharing</string>
</dict>
</plist>
